@import "tailwindcss";

:root {
  --neza-primary: #611232;
  --neza-secondary: #ffd175;
  --neza-secondary-b: #795801;
  --neza-tertiary: #003b17;
  --neza-blanco: #ffffff;
  --neza-negro: #000000;
}

@theme {
  --color-neza-primary: var(--neza-primary);
  --color-neza-secondary: var(--neza-secondary);
  --color-neza-secondary-b: var(--neza-secondary-b);
  --color-neza-tertiary: var(--neza-tertiary);
  --color-neza-blanco: var(--neza-blanco);
  --color-neza-negro: var(--neza-negro);
  --font-sans: "Noto Sans", system-ui, sans-serif;
}

body {
  font-family: "Noto Sans", system-ui, sans-serif;
  color: #000000;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.text-btn {
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 768px) {
  h1 {
    font-size: 42px;
  }

  .text-btn {
    font-size: 14px;
  }
}
